*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: black;
    background-color: #f4f4f4;
    padding: 20px;

}

.container{
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius:10px ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header{
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 3px solid #007bff;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eaf4fe;
}

.header h1{
    font-size: 2.5em;
    color: #007bff;
    margin-bottom: 10px;
}

.profile-image{
    margin-bottom: 20px;
}

.profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #007bff;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 123, 255,0.3);
}

.title{
    font-size: 1.2em;
    color: #666;
    font-weight: bold;
    margin-bottom: 15px;
}

.contact-info{
    font-size: 0.9em;
    color: #555;
}

.contact-info p {
    margin: 5px 0;
}

.section {
    margin-bottom: 30px;
}

.section p {
    padding-right: 20px;
    text-align: justify;
}

.section ul {
    padding-right: 20px;
}

.section ul li {
    text-align: justify;
    padding: 8px;
    color: #333;
    transition: background 0.3s;
}


.section h2{
    color: #007bff;
    background-color: rgb(241, 252, 255);
    font-size: 1.5em;
    margin-bottom: 15px;
    border-right: 4px solid #007bff;
    padding-right: 15px;
    padding: 10px;
}

footer{
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #007bff;
    color: #555;
    font-size: 0.9em;
}
